*{
  box-sizing: border-box;
}

  :root{
    --border: rgb(64, 65, 65);
    --text: rgb(115, 219, 238);
  }

  .head{
    display:flex;
    justify-content: space-between;
    padding: 20px  30px 20px 0px;
    background-color:var(--text);
    width:5000pxpx;
    
  }

  h1{
    font-family:monospace;
    font-size:30px;
    color: var(--text);
    background-color:var(--border);
    border: 10px solid var(--border);
    border-width: 10px 10px 10px 5px;
    position: relative;
    top: 2px;
    width:600px;
    text-align:right
    
    
    }

  a{
   color: var(--border);
    font-family:'Alegreya SC'; font-size: 18px;
    padding: 7px;
    position: relative;
    top: 10px;
    font-size: 22px;
    }

  .avatar{

    position:absolute;
    top: 120px;
    left: 80px;
    height:160px;
    width:160px;
    border:2px solid var(--border);

  }

  .image{
    position:relative;
    width:100;
  }

 .subtitle{
    font-family:monospace;
    text-align: center;
    color:var(--text);
    font-size:30px;
    padding-top: 10px;
    position:absolute;
    top: 220px;
    right: 100px;
    height:50px;
    width:360px;
    border:10px 10px 20px 100px solid var(--border);
    background-color: var(--border);
}

.banner{
  height:200px;
}

.row{
  display:flex;
  padding: 10px;
  line-height: 200%;
  position: relative;
  left: 200px;

  
  
}

.row:after{
  content: "About Me","Work";
  display: table;
  clear:both
}

.column{
float:none;
padding: 22px;

}

.left{
width: 25%;
font-size: 32px;


}

.right{
width:75%;
}

.weblink{
  height: 100%;
  width: 100%;
  display:flex;
  text-align: right;
}

@media screen and (max-width: 992px) {
 section,
 .weblink {
    flex-direction: column;
  }

  .weblink, {
    flex-direction: column;
  }
}




