*{
  box-sizing: border-box;
}
main, footer{
  background-color: rgb(232, 253, 252);
}
footer{
  text-align:center;
  color: var(--border);

}

  :root{
    --border: rgb(64, 65, 65);
    --text: rgb(115, 219, 238);
    --shadow: blueviolet;
  }

  .head{
    display:flex;
    justify-content: space-between;
    padding: 20px  30px 20px 0px;
    background-color:var(--text);
    
    
  }

  h1{
    font-family:monospace;
    font-size:30px;
    color: var(--text);
    background-color:var(--border);
    border: 10px solid var(--border);
    border-width: 10px 10px 10px 5px;
    position: relative;
    top: 2px;
    width:600px;
    text-align:right;
    text-shadow: 10px 4px 10px var(--shadow);
    }

    h2{
      text-shadow: 5px 5px 10px var(--shadow);
    }

  h3{
    font-size: 50px;
    color:black;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px var(--shadow);

  }


  a{
   color: var(--border);
    font-family:'Alegreya SC'; font-size: 18px;
    padding: 7px;
    position: relative;
    top: 10px;
    font-size: 22px;
    }

  .highlight:hover{
      font-size: 30px;
      color:var(--shadow)
  }

  .avatar{

    position:absolute;
    top: 120px;
    left: 80px;
    height:160px;
    width:160px;
    border:2px solid var(--border);

  }

  .image{
    position:relative;
    width:100;
  }

 .subtitle{
    font-family:monospace;
    text-align: center;
    color:var(--text);
    font-size:30px;
    padding-top: 10px;
    position:absolute;
    top: 220px;
    right: 100px;
    height:50px;
    width:360px;
    border:10px 10px 20px 100px solid var(--border);
    background-color: var(--border);
}


.banner{
  height:200px;
}

.row{
  display:flex;
  padding: 10px;
  line-height: 200%;
 
}


.row:after{
  content: "About Me",;
  display: table;
  clear:both
}

.column{
float:none;
padding: 22px;
}

.left{
width: 25%;


}

.right{
width:75%;

}



@media screen and (max-width: 992px) {
 section,
 .apps {
    flex-direction: column;

  }


  .left, {
    flex-direction: column;
  }

h3{
position: relative;
left: 400px
}

h6{
  position: relative;
left: 200px
}

p{
  position: relative;
  left: 100px
}
}

.apps header {
 color: black;
}

.apps{
  flex: 1 0 200px;
  text-align: center;
  display:flex;
  flex-wrap:wrap
}

.appsmain{
  flex: 2 1 200px;
  text-align: center;
  border: 5px solid var(--text);
  height:500px;
  left: 200px;
  position: relative;
  
}

.images{
  flex: 1 0 100px;
  text-align: center;
  border: 5px solid var(--text);
  height: 200px;
  width: 550px ;
  position: relative;
  left: 300px;

}


h4{
  font-family:monospace;
  color: black;
  text-shadow: 2px 2px 8px var(--shadow);
  font-size:20px;
  position: relative;
  left:200px
}

h5{
  color: black;
  font-family: monospace;
  font-size:20px;
  position: relative;
  left:250px;
  text-shadow: 2px 2px 8px var(--shadow)
}

h6{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: black;
  text-shadow: 2px 2px 8px var(--shadow);
}

p{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}




